<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AIChat</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="chat">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Chat
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="analyze-text">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Analyze Text
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="speech-translator">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Translate Speech
            </NavLink>
        </div>
    </nav>
</div>

